header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 3vw;
    font-weight: bold;
    padding: 2vw 2.5vw;
}

body{
    background: #E3E3E3;
    margin: 0;
}

.caja {
    display: inline-block;
    align-items: center;
    margin-bottom: 2vw; 
    padding: 2vw 5vw; 
    vertical-align: top;
    width: 35%;
    max-width: 600px; 
}

.caja > * {
    width: 100%;
    margin-bottom: 2vw; 
}

label {
    display: block;
    font-size: 2vw; 
    font-weight: bold;
    padding: 2vw 0; 
}

.area-texto{
    resize: none;
}

.botones{
    display: block;
    margin: 0.2vw 0;
}

.boton{
    border-radius: 5px;
    width: 100%;
    margin: 0.5vw 0; 
    font-weight: bold;
    font-size: 1vw; 
}

.boton:hover{
    background: blue;
    cursor: pointer;
    color: white;
}

#boton-copiar{
    display: block;
    margin: 0.5vw 0; 
    border-radius: 5px;
    width: 100%;
    font-size: 1vw; 
}

